# MLflow
MLFLOW_TRACKING_URI=http://localhost:5001
MLFLOW_EXPERIMENT_NAME=energy-consumption-forecast

# API
API_HOST=0.0.0.0
API_PORT=8000
ENV=development

# Database
DATABASE_URL=sqlite:///./data/energy_platform.db

# Prefect
PREFECT_API_URL=http://localhost:4200/api

# Monitoring
PROMETHEUS_PORT=8001
