__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.env
.venv/
venv/
*.db
*.sqlite
mlruns/
mlartifacts/
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
.prefect/
*.log
.DS_Store
notebooks/.ipynb_checkpoints/
